[submodule "boot/Adafruit_nRF52_Bootloader"]
	path = boot/Adafruit_nRF52_Bootloader
	url = https://github.com/SKPastry/Adafruit_nRF52_Bootloader.git
	branch = devc
[submodule "recv/SlimeVR-Tracker-nRF-Receiver"]
	path = recv/SlimeVR-Tracker-nRF-Receiver
	url = https://github.com/SKPastry/SlimeVR-Tracker-nRF-Receiver.git
	branch = dev
[submodule "tracker/SlimeVR-Tracker-nRF"]
	path = tracker/SlimeVR-Tracker-nRF
	url = https://github.com/SKPastry/SlimeVR-Tracker-nRF.git
	branch = dev-p0
[submodule "web/slimenrf-ota-web"]
	path = web/slimenrf-ota-web
	url = https://github.com/SKPastry/slimenrf-ota-web.git
	branch = SKPastry
